.filterActions {
  text-align: right;
}

.center {
  text-align: center;
}

.centeredHeader {
  padding: 1em;
  text-align: center;
}

.progress {
  padding: 1em;
  text-align: center;
}
